@tailwind base;
@tailwind components;
@tailwind utilities;

.plotly .modebar {
    bottom: -100px !important; /* Adjust this value to control vertical position */
    right: 10px !important;  /* Adjust this value to control horizontal position */
    top: 300px !important;
}

  